body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    columns: #32cd32;
}